* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Do Hyeon", sans-serif;
}
body {
  background: #f6f6f6;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
.panel {
  margin: 20px auto 20px;
  max-width: 500px;
  text-align: center;
}
.button_outer {
  background: #83ccd3;
  border-radius: 30px;
  text-align: center;
  height: 50px;
  display: inline-block;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
.btn_upload {
  padding: 17px 30px 12px;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  white-space: nowrap;
}
.btn_upload input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}
.file_uploading {
  width: 100%;
  height: 10px;
  margin-top: 20px;
  background: #ccc;
}
.file_uploading .btn_upload {
  display: none;
}
.processing_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background: #83ccd3;
  transition: 3s;
}
.file_uploading .processing_bar {
  width: 100%;
}
.success_box {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.success_box:before {
  content: "";
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 17px;
  top: 10px;
  box-sizing: initial;
}
.file_uploaded .success_box {
  display: inline-block;
}
.file_uploaded {
  margin-top: 0;
  width: 50px;
  background: #83ccd3;
  height: 50px;
}
.uploaded_file_view {
  max-width: 300px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  transition: 0.2s;
  opacity: 0;
  border: 2px solid #ddd;
  padding: 15px;
}
.file_remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #aaa;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  right: -15px;
  top: -15px;
}
.file_remove:hover {
  background: #222;
  transition: 0.2s;
}
.uploaded_file_view img {
  max-width: 100%;
}
.uploaded_file_view.show {
  opacity: 1;
}
.error_msg {
  text-align: center;
  color: #f00;
}

#label-container {
  text-align: center;
  margin-bottom: 100px;
  display: flex;
}

#page-name {
  text-align: center;
  margin-top: 50px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loadingText {
  text-align: center;
  font-size: 1rem;
}

#resultMessage {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.navbar-brand {
  width: 200px;
  height: 30px;
  font-size: 40px;
}

.section {
  margin-top: 70px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #354658;
}

.subtitle {
  line-height: 1.67;
  text-align: center;
  color: #354658;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .navbar-brand {
    font-size: 2rem;
  }
}

#layout {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

#disqus_thread {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 40%;
  height: 23px;
  background-color: #dedede;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 4px;
  border-radius: 8px;
}

.progress-bar .progress {
  height: 30px;
  padding: 0;
  background-color: #4f98ff;
  color: #111;
  justify-content: center;
}

.d-flex {
  justify-content: center;
}

.pokemonName {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.percentText {
  align-items: center;
  display: flex;
  color: #ffffff;
  font-size: 12px;
}
